<div class="navbar navbar-inverse bg-inverse">  
    <a class="navbar-brand">全家福百货销售信息管理系统</a>  
</div>  

<div class="m-a-1">
    <h2 class="text-xs-center">您的购物车</h2>
    <table class="table table-bordered table-striped p-a-1">
        <thead>
            <tr>
                <th>数量</th>
                <th>商品</th>
                <th class="text-xs-right">价格</th>
                <th class="text-xs-right">单价</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="cart.lines.length == 0">
                <td colspan="4" class="text-xs-center">
                    您的购物车是空的
                </td>
            </tr>
            <tr *ngFor="let line of cart.lines">
                <td>
                    <input type="number" class="form-control-sm" 
                           style="width:5em" 
                           [value]="line.quantity"
                           (change)="cart.updateQuantity(line.product, 
                                $event.target.value)"/>
                </td>
                <td>{{line.product.name}}</td>
                <td class="text-xs-right">
                    {{line.product.price | currency:"CNY":true:"2.2-2"}}
                </td>
                <td class="text-xs-right">
                    {{(line.lineTotal) | currency:"CNY":true:"2.2-2" }}
                </td>
                <td class="text-xs-center">
                    <button class="btn btn-sm btn-danger"
                            (click)="cart.removeLine(line.product.id)">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-xs-right">Total:</td>
                <td class="text-xs-right">
                    {{cart.cartPrice | currency:"CNY":true:"2.2-2"}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="text-xs-center">
    <button class="btn btn-primary" routerLink="/store">继续购物</button>
    <button class="btn btn-secondary" routerLink="/checkout" 
            [disabled]="cart.lines.length == 0">
        结帐
    </button>
</div>
